In [3]:
import pandas as pd

In [49]:
df = pd.read_csv(r"C:\Users\HP I3\OneDrive\Documentos\GitHub\tcp\01_dados\data_mobilidade_v4.csv")

df.head(2).style

In [47]:
df_tratado = df.rename(columns={'V1023':'regiao_urbana','VD3004':'escolaridade','V2010':'cor','UF':'uf'})

df_tratado = df_tratado[['transicao','regiao_urbana','idade','escolaridade', 'genero', 'cor','uf','qtd_pessoas',
                         'periodo_ajust','posicao_familiar', 'tempo_desemprego','filhos', 'regiao','renda_domiciliar']]

df_tratado.head(2).style